A:link {
	COLOR: #006699; TEXT-DECORATION: none
}
A:visited {
	COLOR: #006699; TEXT-DECORATION: none
}
A:active {
	COLOR: #006699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000;
}
TD,TH {
	FONT-SIZE:12px; COLOR: #CCCCFF;
}
#in4{
 width:550px;
 height:30px;
 }


.scrollbar{
   SCROLLBAR-FACE-COLOR: #CCCCFF; 
   FONT-SIZE: 9pt; 
   SCROLLBAR-HIGHLIGHT-COLOR: #333333; 
   SCROLLBAR-SHADOW-COLOR: #333333; 
   SCROLLBAR-3DLIGHT-COLOR: #333333; 
   SCROLLBAR-ARROW-COLOR: #ffffff; 
   SCROLLBAR-TRACK-COLOR: #333333;
   SCROLLBAR-DARKSHADOW-COLOR: #333333

 }
